.rehearse-words {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning-text-emphasis);
}
.accuration-words {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success-text-emphasis);
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 225px;
  perspective: 2000px;
  user-select: none;
}

@media (width > 576px) {
  .flip-card {
    height: 300px;
  }
}

.flip-card-inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

#flip-card-checkbox:checked + .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card:hover .flip-card-inner {
  cursor: pointer;
  outline: 1px solid var(--bs-secondary-border-subtle);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg) rotateZ(180deg);
}


.fullscreen{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  overflow: auto;
}
.card.fullscreen .disclaimer{
  display: block !important;
}

.answer:hover{
  cursor: pointer;
  background-color: var(--bs-light);
}
.correct{
  background-color: var(--bs-success-bg-subtle) !important;
  color: var(--bs-success-text-emphasis) !important;
  border-color: black !important;
}
.wrong{
  background-color: var(--bs-danger-bg-subtle) !important;
  color: var(--bs-danger-text-emphasis) !important;
  border-color: black !important;
}
.marked{
  background-color: var(--bs-warning-bg-subtle) !important;
  color: var(--bs-warning-text-emphasis) !important;
  border-color: black !important;
}
.disabled{
  pointer-events: none;
}
.loader{
  position: relative;
}
.loader::after{
  content: "";
  z-index: 10;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0,0,0,.2);

  animation-name: answer-loader;
  animation-duration: 1250ms;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-fill-mode: forwards;

}

@keyframes answer-loader{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.progress{
  height: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}