.card > #card-bg{
    background-size: cover;
}
.card > #card-bg::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255,255,255,.6);
}
.set-card:hover{
    cursor: pointer;
    outline: 1px solid var(--bs-success);
}