main{
    min-height: 60vh;
}
#rehearse-words {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning-text-emphasis);
}
#accuration-words {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success-text-emphasis);
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 2000px;
  user-select: none;
}

.flip-card-inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

#flip-card-checkbox:checked + .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card:hover .flip-card-inner {
  cursor: pointer;
  outline: 1px solid var(--bs-secondary-border-subtle);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg) rotateZ(180deg);
}


.fullscreen{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    overflow: auto;
}
.card.fullscreen .disclaimer{
    display: block !important;
}