header .navbar-toggler{
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.profile-link:hover i:nth-child(1){
    display: none !important;
}
.profile-link:hover i:nth-child(2){
    display: block !important;
}
.profile-link div{
    font-size: 80%;
}
footer{
    background-color: #07070A;
}




.letter-spacing-1 {
    letter-spacing: 0.1em;
}
.letter-spacing-2 {
    letter-spacing: 0.2em;
}


.underline-animation {
    position: relative;
}
.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.loading-mask{
    background-color: rgba(230,230,230,.8);
    z-index: 100;
}