@section("title")
404 Not Found
@endsection

@section("styles")
<style>
    main {
        min-height: 70vh;
    }
</style>
@endsection

@section("content")
<main class="container-xxl px-4 px-xxl-0 d-flex align-items-center justify-content-center">
    <div class="text-center border p-4 shadow rounded">
        <h1 class="display-1 text-danger fw-bold">404</h1>
        <p class="fs-4">Oops! The page was not found!</p>
        <p class="text-muted">The expected content has been moved or does not exist</p>
        <a href="/" class="btn btn-primary btn-lg mt-3">Return to homepage</a>
    </div>
</main>
@endsection