@section("title")
{{ERROR_CODE}} Error
@endsection

@section("styles")
<style>
    main {
        min-height: 70vh;
    }
</style>
@endsection

@section("content")
<main class="container-xxl px-4 px-xxl-0 d-flex align-items-center justify-content-center">
    <div class="text-center border p-4 shadow rounded">
        <h1 class="display-1 fw-bold text-danger">{{ERROR_CODE}}</h1>
        <p class="fs-3 mt-3">Unexpected error occurred</p>
        <p class="text-muted">
            {{ERROR_MSG}}
        </p>
        <a href="/" class="btn btn-primary btn-lg mt-3">
            Return to homepage
        </a>
        <div class="mt-4">
            <small class="text-muted">If the error is repeating, please contact the administrator.</small>
        </div>
    </div>
</main>
@endsection