<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@showsection("title")</title>

    <link rel="shortcut icon" href="/assets/web/logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/frameworks/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frameworks/bootstrap/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/web/style.css">
    @showsection("styles")

    <script src="/frameworks/jquery-3.7.1.min.js"></script>
    <script src="/frameworks/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/utils/alert.js"></script>
    @showsection("scripts")

</head>
<body>
    <header class="navbar navbar-expand-lg shadow sticky-top bg-white">
        <div class="container-xxl px-4 px-xxl-0 py-1">
            <a class="navbar-brand" href="/">
                <div class="d-flex column-gap-3 align-items-center">
                    <object data="/assets/web/logo.svg" type="image/svg+xml" style="pointer-events: none; width: 45px;"></object>
                    <div class="fs-4 fw-bold letter-spacing-1">Wordic</div>
                </div>
            </a>
            <div class="d-flex align-items-center column-gap-2">
                <a href="/profile" class="d-lg-none profile-link">
                    <i class="bi bi-person fs-1 text-primary"></i>
                    <i class="bi bi-person-fill fs-1 text-primary d-none"></i>
                </a>
                <button class="navbar-toggler px-0" type="button" data-bs-toggle="offcanvas" data-bs-target=".offcanvas">
                    <span class="navbar-toggler-icon fs-3"></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1">
                <div class="offcanvas-header p-4 p-lg-0">
                    <h5 class="offcanvas-title">
                        <div class="fs-3 fw-bold letter-spacing-1">Wordic</div>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-end p-4 p-lg-0">
                    <ul class="navbar-nav align-items-lg-center column-gap-2">
                        <li class="nav-item"><a href="/dashboard" class="nav-link text-black underline-animation"><i class="bi bi-cast"></i> Dashboard</a></li>
                        <li class="nav-item"><a href="/articles" class="nav-link text-black underline-animation"><i class="bi bi-newspaper"></i> News</a></li>
                        <li class="nav-item"><a href="/about" class="nav-link text-black underline-animation me-lg-4"><i class="bi bi-info-circle"></i> About us</a></li>
                        <li class="nav-item d-none d-lg-block">
                            <a href="/profile" class="d-none d-lg-block nav-link text-black position-relative profile-link">
                                <i class="bi bi-person fs-1 text-primary"></i>
                                <i class="bi bi-person-fill fs-1 text-primary d-none"></i>
                                <div class="position-absolute bottom-0 start-50 translate-middle-x profile-username"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @showsection("content")
    <footer class="text-white">
        <div class="container-xxl px-4 px-xxl-0 py-5">
            <div class="row g-3">
                <div class="order-1 col-md-6">
                    <div class="d-flex column-gap-2 align-items-center mb-1">
                        <object data="/assets/web/logo.svg" type="image/svg+xml" style="pointer-events: none; width: 40px;"></object>
                        <div class="fs-3 letter-spacing-1">Wordic</div>
                    </div>
                    <div><i>Portal for your knowledge</i></div>
                </div>
                <div class="order-2 col-md-6">
                    <div class="d-flex h-100 column-gap-4 row-gap-3 justify-content-md-end align-items-center flex-wrap">
                        <a href="/article/1-terms-of-use" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Terms of use</a>
                        <a href="/article/2-user-guide" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">User guide</a>
                        <a href="/article/3-privacy-policy" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>