@section("title")
Loading...
@endsection

@section("styles")
<link rel="stylesheet" href="/css/web/setEdit.css">
@endsection

@section("scripts")
<script src="/js/utils/papaparse.min.js" defer></script>
<script src="/js/web/setEdit.js" defer></script>
@endsection

@section("content")
<main class="container-xxl px-2 px-md-3 px-xxl-0 py-5">
    <div class="mb-4">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="" id="breadcrumb-set-name">
                    <div class="spinner-border spinner-border-sm"></div>
                </a></li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div>
    <div class="row g-3">
        <div class="col-md-5">
            <div class="card h-100">
                <div class="card-body position-relative">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex column-gap-2 justify-content-center align-items-center loading-mask" data-mask="info">
                        <div class="spinner-border"></div>
                        <div>Loading</div>
                    </div>
                    <h4 class="card-title">Icon</h4>
                    <img src="/assets/placeholder.svg" alt="Set image" class="w-100 rounded d-block my-3" id="set-image">
                    <form id="form-image">
                        <div class="input-group">
                            <input type="file" class="form-control" id="form-image-file">
                            <button class="btn btn-success" type="submit">
                                <div class="btn-text"><i class="bi bi-upload"></i> Update</div>
                                <div class="btn-spinner spinner-border spinner-border-sm d-none"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body position-relative">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex column-gap-2 justify-content-center align-items-center loading-mask" data-mask="info">
                        <div class="spinner-border"></div>
                        <div>Loading</div>
                    </div>
                    <h4 class="card-title">Settings</h4>
                    <form id="form-settings">
                        <div class="my-3">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="form-settings-name" placeholder="" minlength="3" maxlength="64" required>
                                <label for="form-settings-name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="form-settings-description" placeholder="" maxlength="150"></textarea>
                                <label for="form-settings-description">Description</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form-settings-public">
                                <label class="form-check-label" for="form-settings-public">Visible publicly</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end column-gap-2 align-items-center">
                            <div class="dropdown">
                                <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">More</button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" id="btn-delete-set"><i class="bi bi-trash"></i> Delete set</button></li>
                                </ul>
                            </div>
                            <button class="btn btn-outline-success" type="submit">
                                <div class="btn-text"><i class="bi bi-floppy"></i> Save</div>
                                <div class="btn-spinner spinner-border spinner-border-sm d-none"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body position-relative">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex column-gap-2 justify-content-center align-items-center loading-mask" data-mask="words">
                        <div class="spinner-border"></div>
                        <div>Loading</div>
                    </div>
                    <h4 class="card-title">Words</h4>
                    <div class="my-3">
                        <form id="form-words-search" class="mb-4">
                            <div class="input-group">
                                <input type="text" class="form-control" id="form-words-search-input" minlength="1" placeholder="Term, definition..."  required>
                                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Search</button>
                            </div>
                        </form>
                        <div class="mb-2 d-flex justify-content-between align-items-center flex-wrap gap-2">
                            <div class="d-flex align-items-center gap-3 flex-wrap">
                                <button class="btn btn-success" id="words-save-btn">
                                    <div class="btn-text"><i class="bi bi-floppy"></i> Save words</div>
                                    <div class="btn-spinner spinner-border spinner-border-sm d-none"></div>
                                </button>
                                <div id="words-save-feedback"></div>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">Extra</button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <input type="file" id="words-import-file" accept=".csv" class="visually-hidden">
                                            <label for="words-import-file" class="dropdown-item" id="words-import-file-btn">
                                                <div class="btn-text"><i class="bi bi-upload"></i> From CSV</div>
                                                <div class="btn-spinner spinner-border spinner-border-sm d-none"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" id="btn-export-csv">
                                                <div class="btn-text"><i class="bi bi-download"></i> Export to CSV</div>
                                                <div class="btn-spinner spinner-border spinner-border-sm d-none"></div>
                                            </button>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a href="/assets/files/import-sample.csv" class="dropdown-item" download>Sample CSV</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <div class="not-saved-line rounded d-none"></div>
                        <form id="form-add-word">
                            <table class="table table-bordered table-striped rounded">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Term</th>
                                        <th>Definition</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="words-tbody">
                                    <tr>
                                        <td class="word-index">0</td>
                                        <td>
                                            <input type="text" class="form-control" id="form-add-word-term" maxlength="100" minlength="1" placeholder="Term" required>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="form-add-word-definition" maxlength="100" minlength="1" placeholder="Definition" required>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-success" id="form-add-word-btn"><i class="bi bi-plus"></i></button>
                                        </td>
                                    </tr>
                                    <!-- -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal words import -->
<div class="modal fade" id="modal-words-import" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"><span class="fw-bold">CSV: </span><span class="fst-italic"></span></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Word</th>
                            <th scope="col">Definition</th>
                        </tr>
                    </thead>
                    <tbody id="modal-words-import-tbody">
                        <!-- -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="modal-words-import-accept">Accept</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete set -->
<div class="modal fade" id="modal-delete-set" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this set?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="btn-accept-delete-set">
                    <div class="btn-text">Yes</div>
                    <div class="btn-spinner spinner-border spinner-border-sm d-none"></div>
                </button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@endsection