@section("title")
Quiz
@endsection

@section("styles")
<link rel="stylesheet" href="/css/web/game.css">
@endsection

@section("scripts")
<script src="/js/utils/Game.js" defer></script>
<script src="/js/web/setQuiz.js" defer></script>
@endsection

@section("content")
<main class="container-xxl px-2 px-md-3 px-xxl-0 py-5">
    <div class="mb-4">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item">
                    <a href="" id="breadcrumb-set-name">
                        <div class="spinner-border spinner-border-sm"></div>
                    </a>
                </li>
                <li class="breadcrumb-item active">Quiz</li>
            </ol>
        </nav>
    </div>
    <div class="card d-none game-section border-success">
        <div class="card-body">
            <div class="card-title mb-4">
                <div class="d-flex justify-content-end align-items-center gap-2">
                    <button class="btn btn-sm btn-outline-secondary fs-5 btn-fullscreen"><i class="bi bi-arrows-fullscreen"></i></button>
                    <a class="btn btn-sm btn-warning fs-5 btn-exit"><i class="bi bi-x-lg"></i></a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2 py-4">
                <div>
                    <h2><i class="bi bi-cake-fill text-success"></i> Congratulations!</h2>
                    <p>You've got through entire learning session</p>
                    <p>Current rehearsal accuracy: <span class="fw-bold accuration-words-number">0</span>%</p>
                    <p class="text-end p-1 fst-italic bg-warning rounded">
                        Nearest available revision: <span id="nearest-revision"><span class="spinner-border spinner-border-sm"></span></span>
                    </p>
                    <div class="d-flex justify-content-end align-items-center column-gap-3 flex-wrap mt-2">
                        <button class="btn btn-sm btn-light" id="btn-next"><i class="bi bi-arrow-clockwise"></i> Do again</button>
                        <a href="" class="btn btn-sm btn-primary" id="btn-end-exit"><i class="bi bi-box-arrow-left"></i> Exit</a>
                    </div>
                    <div class="d-none justify-content-end mt-4 mb-5">
                        <button class="btn btn-sm btn-danger" id="btn-review-mistakes"><i class="bi bi-arrow-clockwise"></i> Review mistakes (<span id="mistakes-count"></span>)</button>
                    </div>
                    <div class="disclaimer d-none">
                        <div class="d-flex justify-content-center fs-5 column-gap-3 align-items-center py-5">
                            <div>Quiz by</div>
                            <div class="d-flex column-gap-1 align-items-center">
                                <object data="/assets/web/logo.svg" type="image/svg+xml" style="pointer-events: none; width: 25px;"></object>
                                <strong>Wordic</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card game-section">
        <div class="progress mb-2">
            <div class="progress-bar" id="quiz-progress" style="width: 0%;"></div>
        </div>
        <div class="card-body position-relative">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex column-gap-2 justify-content-center align-items-center loading-mask" data-mask="info">
                <div class="spinner-border"></div>
                <div>Loading</div>
            </div>
            <div class="card-title mb-4">
                <div class="d-flex justify-content-between align-items-center flex-wrap column-gap-3">
                    <h3>Total words: <span id="words-number">-</span></h3>
                    <div class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="rounded p-2 rehearse-words d-none d-md-block"><i class="bi bi-arrow-repeat"></i> To rehearse: <span class="rehearse-words-number" class="fw-bold">-</span></div>
                        <div class="rounded p-2 me-3 accuration-words d-none d-md-block"><i class="bi bi-bullseye"></i> Accuration: <span class="fw-bold accuration-words-number">-</span>%</div>
                        <button class="btn btn-sm btn-outline-secondary fs-5 btn-fullscreen"><i class="bi bi-arrows-fullscreen"></i></button>
                        <a class="btn btn-sm btn-warning fs-5 btn-exit"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center flex-wrap d-md-none pt-3">
                    <div class="rounded p-2 rehearse-words"><i class="bi bi-arrow-repeat"></i> To rehearse: <span class="rehearse-words-number" class="fw-bold">-</span></div>
                    <div class="rounded p-2 accuration-words"><i class="bi bi-bullseye"></i> Accuration: <span class="fw-bold accuration-words-number">-</span>%</div>
                </div>
            </div>

            <div class="px-2 py-4 border rounded fs-3 fw-bold text-center mb-3 bg-light user-select-none" id="quiz-question"></div>
            <form class="pb-4" id="answer-form">
                <fieldset>
                    <div class="input-group border border-primary rounded">
                        <input type="text" class="form-control" placeholder="Answer...">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </fieldset>
                <div class="p-2 mt-2 border border-warning bg-warning-subtle rounded fs-5 d-none" id="correct-ans">
                    <span class="fw-bold">Correct: </span><span></span>
                </div>
            </form>

            <div class="disclaimer d-none">
                <div class="d-flex justify-content-center fs-5 column-gap-3 align-items-center py-5">
                    <div>Quiz by</div>
                    <div class="d-flex column-gap-1 align-items-center">
                        <object data="/assets/web/logo.svg" type="image/svg+xml" style="pointer-events: none; width: 25px;"></object>
                        <strong>Wordic</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@endsection